#squareContainer {
  border: 2px solid purple;
}

.square {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue; /* This is what I call QUALITY VIZZ, size of squares untouched by this  */
  margin: 0;
  padding: 0;
  border: 0;
}





/* TODO: Add borders for container visualization 
Know that the grid can't be created statically i.e. using a loop that takes in a fixed number 
The squares change sizes: how? `calc()`? Variables? 
Functions? Unknown methods?
But the container stays fixed.
Read all the briefing before attempting project. */
