@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

html {
    font-family: "Ubuntu Sans", sans-serif;
}

#squareContainer {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
  height: 240px;
  margin: 50vh auto;
  padding: 0;
}

.square {
  background-color: blue;
  width: 15px;
  height: 15px;
  margin: 0;
  border: 1px solid red;
  border-radius: 5px;
}